---
layout: archive
title: "Communication"
permalink: /communication/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.communication reversed %}
  {% include archive-single.html %}
{% endfor %} -->

Some videos I've made in the past explaining science concepts. 
<br><br>
<div style="max-width: 600px;">
<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
<iframe width="560" height="315" 
src="https://www.youtube.com/embed/w1J7rX3iwwk?si=1V7nLi_V159LeE1D" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
</div>
</div>


<br><br>
<div style="max-width: 600px;">
<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
<iframe width="560" height="315" 
src="https://www.youtube.com/embed/J0X8ZLek2FU?si=e8cZaGZhVsQyi8ns" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
 clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
</div>
</div>

