---
layout: archive
title: "Fun!"
permalink: /fun/
author_profile: true
---

{% include base_path %}

I enjoy making videos of my adventures, so that I don't forget my lovely memories with loved ones!
<br><br>
<div style="max-width: 600px;">
<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
<iframe width="400" height="200"
 src="https://www.youtube.com/embed/bP8ZW6C_jcI?si=qrxQbVU69JQcu3rU" 
 title="YouTube video player" frameborder="0" allow="accelerometer; 
 autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
</div>
</div>
<!-- {% for post in site.fun %}
  {% include archive-single.html %}
{% endfor %} -->

