---
layout: compress
---

{% include base_path %}
<style>
    .home-icon {
      display: inline-block;
      width: 24px; 
      height: 24px;
      background-image: url('/images/favicon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
</style>
<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% unless page.layout == 'sunflower_home' %}
      {% include masthead.html %}
    {% endunless %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
